@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

  * {
    margin: 0;
    padding: 0;
  }

  body {

    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color:#555;
    
  }
h1,h3{
  padding: 10px;
  text-align: center;
}
  

  

  .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    background-color: #444;
    margin: 5px;
  }
  .css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar {
    color: white;
  }
